src/main/resources/flora_germany.geojson
src/main/resources/airlinesLines.json
src/main/resources/marburg.geojson
src/main/resources/marburg_pretty.geojson
target/classes/airlinesLines.json
target/classes/flora_germany.geojson
target/classes/marburg_pretty.geojson
src/main/resources/communities/communities.cpg
src/main/resources/communities/communities.dbf
src/main/resources/communities/communities.prj
src/main/resources/communities/communities.shp
src/main/resources/communities/communities.shx
target/classes/marburg.geojson
target/classes/communities/communities.cpg
target/classes/communities/communities.dbf
target/classes/communities/communities.prj
target/classes/communities/communities.shp
target/classes/communities/communities.shx
